<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.au.card">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Alphabets"></activity>
        <activity android:name=".Countme" />
        <activity android:name=".Home" />
        <activity android:name=".Division" />
        <activity android:name=".Multiplication" />
        <activity android:name=".Subtraction" />
        <activity android:name=".Addition" />
        <activity android:name=".MiddleNo" />
        <activity android:name=".AfterNo" />
        <activity android:name=".RhWord" />
        <activity android:name=".Kidsapp" />
        <activity android:name=".BeforeNo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>